body {
	height: 500vw;
	font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic,
		'Malgun Gothic', sans-serif;
	-webkit-overflow-scrolling: touch;
	color: #555;
	background: #fff000;
	transition: background 0.5s;
}

.world {
	perspective: 1000px; /*원근 적용해주기*/
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}
.stage {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	transform-style: preserve-3d; /* world 에  perspective를 주었기에 transform-style: preserve-3d;를 사용하여 자식 에게 3d효과를 전달  ie에서는 지원x webkit기반 브라우저 o */
}
.house {
	transform-style: preserve-3d;
	width: 100vw;
	height: 100vh;
	position: relative;
	transform: translateZ(-490vw);
}

.wall {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.8);
}
.wall-left {
	width: 1000vw;
	top: 0;
	/* left: -500vw; */
	transform: rotateY(90deg) translateZ(-500vw);
	background: #f8f8f8;
}
.wall-right {
	width: 1000vw;
	top: 0;
	background: #f8f8f8;
	/* left: -500vw; */
	/* transform: rotateY(90deg) translateZ(100vw); */
	transform: rotateY(90deg) translateZ(-400vw);
	/* 회전된 상태이기때문에 z축 변경시 좌우로 이동 */
}
.wall-front-a {
	transform: translateZ(300vw);
}
.wall-front-b {
	transform: translateZ(50vw);
}
.wall-front-c {
	transform: translateZ(-200vw);
}
.wall-front-d {
	transform: translateZ(-500vw);
}
.wall-content {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wall-title {
	font-size: 4rem;
	font-weight: 500;
}

.progress-bar-con {
	position: fixed;
	top: 0;
	left: 0;
	height: 5px;
	width: 100vw;
	background: #555;
	z-index: 500;
}
.progress-bar {
	width: 0;
	height: 100%;
	background: cornflowerblue;
}
